# Exclude all, and then explicitly include relevant files/directories

*

!*/

!.github/**/*

!bin/run
!bin/version

!src/*.py
!src/socx/**/*.py
!src/socx/static/**/*
!src/socx/template/**/*
!src/socx_tui/**/*.py
!src/socx_plugins/**/*.py
!src/socx_patches/**/*.py

!docs/**/*

!tests/**/*.py

!scripts/*.py

!assets/rgr/inputs/*
!assets/lst/inputs/*.in

# Unexclude common files

!.env
!.gitignore
!.gitattributes
!.python-version
!.pre-commit-config.yaml

!*.ini
!*.yml
!*.yaml
!*.toml
!*.json
!*.example

!LICENSE
!Makefile
!Dockerfile
!duties.py
!README.md
!CHANGELOG.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
