# Exclude All

*

# Unexclude relevant files/directories

!*/

!/bin/*

!/src/*.py
!/src/socx/**/*.py
!/src/socx_tui/**/*.py
!/src/socx_patches/*.py
!/src/socx_plugins/**/*.py
!/src/socx/static/**/*
!/src/socx/template/**/*

!/tests/**/*.py

!/assets/**/inputs/**/*
!/assets/**/reference/**/*

# Unexclude common files

!/.gitignore
!/.python-version
!/LICENSE
!/README.md
!/Dockerfile

# Unexclude configurations

!/.env
!/uv.toml
!/ruff.toml
!/pyproject.toml

