---
default_language_version:
  python: python3.13

default_stages:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-merge-conflict
        args:
          - --assume-in-merge
      - id: check-added-large-files
      - id: check-illegal-windows-names

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args:
          - --fix
        types_or:
          - pyi
          - python

      - id: ruff-format
        args:
          [--line-length, "79", --respect-gitignore, --target-version, py312]
        types_or:
          - pyi
          - python
