# -----------------------------------------------------------------------------
# Build System
# -----------------------------------------------------------------------------

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/socx", "src/socx_tui", "src/socx_patches", "src/socx_plugins"]

# -----------------------------------------------------------------------------
# Entry Points
# -----------------------------------------------------------------------------

[project.scripts]
socx = 'socx.__main__:main'

[project.gui-scripts]
socx = 'socx.__main__:main'

[project.entry-points."pipx.run"]
socx = 'socx.__main__:main'

[project.entry-points."uvx.run"]
socx = 'socx.__main__:main'

# -----------------------------------------------------------------------------
# Project Metadata
# -----------------------------------------------------------------------------

[project]
name = "socx-cli"
readme = "README.md"
version = "0.4.1"
license = "Apache-2.0 OR MIT"
authors = [{ name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" }]
maintainers = [{ name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" }]
description = "System on chip verification and tooling infrastructure."
license-files = ["LICENSE"]
requires-python = ">=3.12"
dependencies = [
    "rich",
    "httpx",
    "click",
    "pandas",
    "trogon",
    "jinja2",
    "psutil",
    "uvloop",
    "hoptex",
    "textual",
    "dynaconf",
    "importlib",
    "gitpython",
    "rich-click",
    "platformdirs",
    "textual-serve",
    "textual-terminal",
    "textual-fspicker",
    "textual-filedrop",
    "python-dotenv[cli]",
    "importlib-metadata",
    "textual-autocomplete",
    "textual-universal-directorytree",
]

[project.urls]
Home = "https://bitbucket.org/wiliot/socx-cli"
Issues = "https://bitbucket.org/wiliot/socx-cli/issues"
Jira-Issues = "https://bitbucket.org/wiliot/socx-cli/jira"

[dependency-groups]
dev = [
    "ruff",
    "twine",
    "build",
    "hatch",
    "pytest",
    "debugpy",
    "pydantic",
    "hatchling",
    "pyupgrade",
    "pre-commit",
    "pytest-cov",
    "pydocstyle",
    "pycodestyle",
    "textual-dev",
    "basedpyright",
    "flake8-bugbear",
    "flake8-simplify",
    "textual-textarea",
    "textual-fastdatatable",
    "docify>=1.1.0",
]

# -----------------------------------------------------------------------------
# Tool Configurations
# -----------------------------------------------------------------------------

[tool.uv]
package = true

[tool.basedpyright.analysis]
include = ["src"]
exclude = [
    ".git",
    "dist",
    "**/.ruff_cache",
    "**/.pytest_cache",
    "**/.gitignore",
    "**/__pycache__",
    "**/*.eggs",
    "**/*.pyc",
    "**/*.pyd",
]
stubPath = "stubs"
pythonVersion = "3.12"
pythonPlatform = "All"
typeCheckingMode = "standard"
reportMissingImports = "error"
autoImportCompletions = true
useLibraryCodeForTypes = true
reportMissingTypeStubs = true
