# -----------------------------------------------------------------------------
# Build System Configurations
# -----------------------------------------------------------------------------

[tool.uv]
package = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/socx", "src/socx_plugins", "src/socx_patches", "src/socx_tui"]

# -----------------------------------------------------------------------------
# Project Configurations
# -----------------------------------------------------------------------------

[project.scripts]
socx='socx.__main__:main'
socx-ui='socx_tui.__main__:main'

[project.gui-scripts]
socx-ui='socx_tui.__main__:main'

[project]
name = "socx-cli"
readme = "README.md"
version = "0.3.0.dev1"
license = "Apache-2.0 OR MIT"
authors = [ { name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" } ]
maintainers = [ { name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" } ]
description = "System on chip verification and tooling infrastructure."
license-files = ["LICENSE"]
requires-python = ">=3.12"
dependencies = [
    "pip",
    "httpx",
    "click",
    "numpy",
    "pandas",
    "trogon",
    "jinja2",
    "psutil",
    "uvloop",
    "textual",
    "anytree",
    "pyarrow",
    "dynaconf",
    "importlib",
    "gitpython",
    "rich-click",
    "setuptools",
    "platformdirs",
    "textual-serve",
    "textual-terminal",
    "python-dotenv[cli]",
    "importlib-metadata",
    "hoptex>=0.2.0",
]

[dependency-groups]
dev = [
    "mypy",
    "ruff",
    "twine",
    "build",
    "hatch",
    "pytest",
    "debugpy",
    "hatchling",
    "pyupgrade",
    "pre-commit",
    "pytest-cov",
    "pydocstyle",
    "pycodestyle",
    "textual-dev",
    "flake8-bugbear",
    "flake8-simplify",
]

[project.entry-points."uvx.run"]
socx='socx.__main__:main'
socx-ui='socx_tui.__main__:main'

[project.entry-points."pipx.run"]
socx='socx.__main__:main'
socx-ui='socx_tui.__main__:main'

[project.urls]
Home = "https://github.com/runsonmymachine/socx"
Issues = "https://github.com/runsonmymachine/socx/issues"
