# -----------------------------------------------------------------------------
# Project
# -----------------------------------------------------------------------------

[project]
name = "socx-cli"
readme = "README.md"
version = "0.3.0.dev1"
license = "Apache-2.0 OR MIT"
authors = [ { name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" } ]
maintainers = [ { name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" } ]
description = "System on chip verification and tooling infrastructure."
license-files = ["LICENSE"]
requires-python = ">=3.12"
dependencies = [
    "pip",
    "httpx",
    "click",
    "numpy",
    "pandas",
    "trogon",
    "jinja2",
    "psutil",
    "uvloop",
    "hoptex",
    "textual",
    "anytree",
    "pyarrow",
    "dynaconf",
    "importlib",
    "gitpython",
    "rich-click",
    "setuptools",
    "platformdirs",
    "textual-serve",
    "textual-terminal",
    "python-dotenv[cli]",
    "importlib-metadata",
    "textual-autocomplete",
]

[project.optional-dependencies]
dev = [
    "mypy",
    "ruff",
    "twine",
    "build",
    "hatch",
    "pytest",
    "debugpy",
    "pydantic",
    "hatchling",
    "pyupgrade",
    "pre-commit",
    "pytest-cov",
    "pydocstyle",
    "pycodestyle",
    "textual-dev",
    "flake8-bugbear",
    "flake8-simplify",
    "pydantic-settings",
]

[project.urls]
Home = "https://bitbucket.org/wiliot/socx-cli"
Jira = "https://bitbucket.org/wiliot/socx-cli/jira"
Issues = "https://bitbucket.org/wiliot/socx-cli/issues"

[project.scripts]
socx='socx.__main__:main'
socx-ui='socx_tui.__main__:main'

[project.gui-scripts]
socx-ui='socx_tui.__main__:main'

[project.entry-points."uvx.run"]
socx='socx.__main__:main'
socx-ui='socx_tui.__main__:main'

[project.entry-points."pipx.run"]
socx='socx.__main__:main'
socx-ui='socx_tui.__main__:main'

# -----------------------------------------------------------------------------
# Build System
# -----------------------------------------------------------------------------

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = [
    "src/socx", 
    "src/socx_tui",
    "src/socx_patches",
    "src/socx_plugins",
]

# -----------------------------------------------------------------------------
# Tool Configurations
# -----------------------------------------------------------------------------

[tool.uv]
package = true

[tool.mypy]
files = [
    "src/socx", 
    "src/socx_tui",
    "src/socx_patches",
    "src/socx_plugins",
]
pretty = true
strict = true
color_output = true
follow_imports = "normal"
warn_no_return = false
show_error_codes = true
warn_unused_ignores = true
show_column_numbers = true
disallow_untyped_defs = false
ignore_missing_imports = true
disallow_incomplete_defs = false
python_version = "3.12"
plugins = ["pydantic.mypy"]

[tool.pydantic-mypy]
init_typed = true
init_forbid_extra = true
warn_untyped_fields = true
warn_required_dynamic_aliases = true
