# -----------------------------------------------------------------------------
# Build System
# -----------------------------------------------------------------------------

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/socx", "src/socx_tui", "src/socx_patches", "src/socx_plugins"]

# -----------------------------------------------------------------------------
# Entry Points
# -----------------------------------------------------------------------------

[project.scripts]
socx = 'socx.__main__:main'

[project.gui-scripts]
socx = 'socx.__main__:main'

[project.entry-points."pipx.run"]
socx = 'socx.__main__:main'

[project.entry-points."uvx.run"]
socx = 'socx.__main__:main'

# -----------------------------------------------------------------------------
# Project Metadata
# -----------------------------------------------------------------------------

[project]
name = "socx-cli"
readme = "README.md"
version = "0.4.0"
license = "Apache-2.0 OR MIT"
authors = [{ name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" }]
maintainers = [{ name = "Sagi Kimhi", email = "sagi.kim5@gmail.com" }]
description = "System on chip verification and tooling infrastructure."
license-files = ["LICENSE"]
requires-python = ">=3.12"
dependencies = [
    "pip",
    "httpx",
    "click",
    "pandas",
    "trogon",
    "jinja2",
    "psutil",
    "uvloop",
    "hoptex",
    "textual",
    "dynaconf",
    "importlib",
    "gitpython",
    "rich-click",
    "setuptools",
    "platformdirs",
    "textual-serve",
    "textual-terminal",
    "textual-fspicker",
    "textual-filedrop",
    "python-dotenv[cli]",
    "importlib-metadata",
    "textual-autocomplete",
    "textual-universal-directorytree",
]

[project.urls]
Home = "https://bitbucket.org/wiliot/socx-cli"
Issues = "https://bitbucket.org/wiliot/socx-cli/issues"
Jira-Issues = "https://bitbucket.org/wiliot/socx-cli/jira"

[project.optional-dependencies]
dev = [
    "mypy",
    "ruff",
    "jedi",
    "twine",
    "build",
    "hatch",
    "pytest",
    "debugpy",
    "pydantic",
    "hatchling",
    "pre-commit",
    "pytest-cov",
    "pydocstyle",
    "pycodestyle",
    "textual-dev",
    "flake8-bugbear",
    "flake8-simplify",
    "pydantic-settings",
]

[dependency-groups]
dev = [
    "ruff",
    "mypy",
    "jedi",
    "twine",
    "build",
    "hatch",
    "pytest",
    "debugpy",
    "pydantic",
    "hatchling",
    "pyupgrade",
    "pre-commit",
    "pytest-cov",
    "pydocstyle",
    "pycodestyle",
    "textual-dev",
    "flake8-bugbear",
    "flake8-simplify",
    "pydantic-settings",
]

# -----------------------------------------------------------------------------
# Tool Configurations
# -----------------------------------------------------------------------------

[tool.uv]
package = true

[tool.mypy]
python_version = "3.12"
files = [
    "src/socx",
    "src/socx_tui",
    # "src/socx_plugins",
    # "src/socx_patches",
]
pretty = true
color_output = true
install_types = true
follow_imports = "normal"
warn_no_return = false
show_error_codes = true
warn_unused_ignores = true
show_column_numbers = true
disallow_untyped_defs = false
ignore_missing_imports = true
disallow_incomplete_defs = false
disallow_untyped_decorators = false
