
Screen {
  border: none;
  align: center middle;
  width: auto;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  &:inline {
    min-height: 80vh;
    max_height: 80vh;
  }
}

#regression-content-layout {
  width: 1fr;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  layout: horizontal;
  border: none;
}

RegressionWidget {
  width: 100%;
  height: auto;
  align: center middle;
  border: none;
  overflow: hidden hidden;
}

#regression-button-layout {
  dock: bottom;
  width: 1fr;
  height: auto;
  align: center bottom;
  border: none;
  layout: horizontal;
}

RegressionTree {
  width: 1fr;
  height: 1fr;
  border: blank;
  layout: vertical;
  overflow: auto auto;
  background: $background;
  scrollbar-size: 1 2;
  scrollbar-gutter: stable;

  &:focus {
    border-top: hkey $border;
    background: $boost;
  }
}

RegressionDetails {
  width: 1fr;
  height: 1fr;
  border: blank;
  layout: vertical;
  overflow: auto auto;
  background: $background;
  content-align: center middle;
  scrollbar-size: 1 2;
  scrollbar-gutter: stable;

  &:focus {
    border-top: hkey $border;
    background: $boost;
  }

}

RegressionProgress {
  align: center top;
  width: 1fr;
  height: 1fr;
  layout: horizontal;
  content-align: center top;

  #progress-bar {
    width: auto;
    height: auto;
  }

  #progress-label {
    width: auto;
    height: auto;
  }
}

Dialog {
  align: center middle;
  width: 75%;
  height: 75%;
  border: thick $border;
  background: $background;
  text-align: left;
  content-align: center middle;
}

FileOpen {
  width: 75%;
  height: 75%;
}

TestOutputDialog {
  width: 85%;
  height: 75%;

  TabbedContent {
    align: center top;
    width: 100%;
    height: 100%;
    layout: vertical;
    text-align: center;
    content-align: center top;
  }

  #details-content {
    &:hover,
    &:focus {
      background: $boost;
    }
  }

  ReadOnlyOutputArea {
    width: 1fr;
    height: auto;
    border: blank;
    overflow: auto auto;
    scrollbar-size: 1 1;
    scrollbar-gutter: stable;
    background: $background;

    &:hover,
    &:focus {
      background: $boost;
    }
  }

}

RestartSelectionDialog {
  align: center middle;
  width: 60%;
  height: 30%;

  Dialog {
    align: center middle;
    width: 60%;
    height: 30%;
    content-align: center middle;
  }

  Static {
    align: center middle;
    height: 1fr;
    text-align: center;
  }
}

Markdown {
  width: 100%;
  height: auto;
}

MarkdownFence {
  scrollbar-size-horizontal: 1;
}

MarkdownBlock {
  padding: 0 1;
}

MarkdownH2 {
  margin: 0 0 1 0;
}

MarkdownBlock:last-child {
  margin: 0 0 2 0;
}

Header {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: $panel;
  border: none;
}

Footer {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: $panel;
  border: none;
}

Button {
  align: center middle;
  color: auto;
  width: 1fr;
  height: auto;
  border: blank;
  text-align: center;
  content-align: center middle;

  &:blur {
    border: blank;
  }

  &:focus,
  &:hover {
    color: $text;
    border: hkey $border;
    background: $background;
  }
}

Toast {
  margin: 0 0;
  padding: 0 1;
  background: $background;
  color: $text-muted;
  opacity: 80%;
  .toast--title {
    color: $text;
  }
  &.-information {
    border: round $primary;
  }
  &.-warning {
    border: round $warning;
  }
  &.-error {
    border: round $error;
  }
}

HelpPanel {
  border-left: solid white 7%;
  padding-right: 0;
  color: $text-secondary;

  #widget-help {
    border: round $secondary;
    background: transparent;
    margin-top: 0;
    padding: 0 0;
  }

  KeyPanel {
    # color: $text-secondary;
    scrollbar-gutter: stable;

    &> BindingsTable > .bindings-table--description {
      color: $text-secondary;
      text-opacity:90%;
    }

    .bindings-table--key {
      color: $text-secondary;
      color: $text;
    }

    &> BindingsTable > .bindings-table--header {
      color: $text-secondary;
      text-style: underline;
    }
  }
}
