name: Deploy docs to github pages

on:
  push:
    branches:
      - main
  release:
    types:
      - released
      - prereleased
      - published
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: read
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
      - name: Sync dependencies
        run: uv sync --locked --all-extras --dev
      - name: Build documentation
        run: uv run zensical build --clean
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4
