name: "Publish to PyPI"

on:
  release:
    types:
      - released
      - prereleased
      - published
  workflow_dispatch:


jobs:
  build-dist:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/socx-cli
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
      - name: Build distribution
        run: make build
      - name: Run smoke test (wheel)
        run: uv run --isolated --no-project --with pytest --with dist/*.whl pytest tests
      - name: Run smoke test (source distribution)
        run: uv run --isolated --no-project --with pytest --with dist/*.tar.gz pytest tests
      - name: Publish distribution
        run: make publish
