name: Publish to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-build:
    if: github.repository == 'sagikimhi/socx-cli'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup uv and python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"

      - name: Install deps
        run: |
          uv venv
          uv sync --dev --upgrade --all-groups --all-extras --managed-python

      - name: Build dist
        run: |
          uv build --refresh --upgrade --sdist --wheel

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/


  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/socx-cli

    steps:
      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
